.nav--bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
}
ul{
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style: none;
    border-top: none;
}
.top--nav{
    border: 1px solid rgba(61, 60, 60, 0.3);
}
.top--nav>li>p{
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 600;
    color: black;
}
.top--nav>div>li{
    font-size: 1.5rem;
    cursor: pointer;
    
}
.bottom--nav{
    border-bottom-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5)
}
.nav--bar>.bottom--nav>li{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 15px;
}
.nav--category{
    color: rgba(224, 82, 82, 0.5);
    cursor: pointer;
    transition: all 0.5s ease;
}
.nav--category:hover{
    transform: scale(1.1);
    color:white;
}


.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.column--menu{
    height: 0px;
    padding: 0px;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.open{
    min-height: fit-content;
    height: 250px;
}