.roomCard{
    padding-top: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: 500px;
    transition: all 0.5s ease;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
}
.roomCard:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);

}
.roomCard:hover > .arrow img{
    visibility: visible;
}
.arrow{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0px;
    padding: 0 10px;
    top:30%;
    
}
.arrow img{
    height: 50px;
    z-index: 1000;
    visibility: hidden;
}
