.view--room{
    padding-top: 250px;
    margin: 0;
    display: grid;
    width: 60%;
    grid-template-columns: 49.5% 49.5%;
    gap: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail--payment{
    margin-top: 50px;
    display: grid;
    width: 60%;
    grid-template-columns: 64.5% 34.5%;
    gap: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.view--room >div> img{
    width: 512px;
    height: 512px;
}
.alt--image--info{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.image--grid{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    gap: 2%;    
}
.displayFlexCenter{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.booking--card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    height:100%;
    padding: 0 20px;
    border-radius: 15px;
    padding-bottom: 50px;
}
