.view--room{
    margin: 0;
    margin-top: 250px;
    display: grid;
    width: 60%;
    grid-template-columns: 49.5% 49.5%;
    column-gap: 1%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail--payment{
    margin-top: 50px;
    display: grid;
    width: 60%;
    grid-template-columns: 61% 34.5%;
    gap: 1%;
    
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.view--room >div> img{
    width: 512px;
    height: 512px;
}
.alt--image--info{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.image--grid{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    gap: 2%;
    row-gap: 3%;    
}
.displayFlexCenter{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.booking--card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    width: 100%;
    height:100%;
    border-radius: 15px;
    padding: 0 5%;
    padding-bottom: 10px;
}
.reserve--button{
    font-size: 1.5rem;
    background-color: rgba(240, 88, 88, 0.5);
    border: 1px rgba(230, 126, 126, 0.5);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    width: 60%;
    height: 50px;
    border-radius: 15px;
    transition: all 0.5s ease;
}
.reserve--button:hover{
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.5);
}