body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;

  font-family: 'Handlee', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
html{
  scroll-behavior: smooth;
}
p{
  font-size: 1rem;
}