body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Handlee', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
html{
  scroll-behavior: smooth;
}
p{
  font-size: 1rem;
}